/* reset */
html, body, div, h1, h2, h3, h4, h5, h6, p,
img, dl, dt, dd, ol, ul, li, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0; }

ol, ul {
  list-style: none; }

i, b, em, strong {
  font-style: normal;
  text-decoration: none;
  font-weight: normal; }

body {
  font-family: 'Hiragino Sans GB','Lucida Grande','Lucida Sans Unicode','Microsoft YaHei','simsun'; }

html, body {
  background: #fff; }

a, img {
  -webkit-touch-callout: none;
  text-decoration: none; }

html, body {
  -webkit-user-select: none;
  user-select: none; }

body {
  padding: 0 0 2.22222rem; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 2.22222rem;
  background: #148174;
  color: #fff; }
  .header.header_login {
    height: 3.33333rem;
    background: #fff;
    border-bottom: 2px solid #efeeee; }
    .header.header_login .close {
      margin: 1.11111rem 0 0 0.66667rem; }
  .header .back, .header .close {
    width: 1.06667rem;
    height: 1.06667rem;
    display: block;
    color: #fff;
    background: url(../img/icon_back.png) no-repeat center;
    background-size: auto 100%;
    margin: 0.55556rem 0 0 0.33333rem; }
  .header .close {
    background: url(../img/icon_close.png) no-repeat center;
    background-size: auto 100%; }
  .header ul {
    width: 95%;
    margin: 0 auto;
    height: 100%; }
    .header ul li {
      width: 2.8rem;
      display: inline-block;
      height: 100%;
      position: relative; }
      .header ul li:last-child a {
        background: url(../img/icon_search.png) no-repeat center center;
        background-size: auto 100%;
        height: 1.6rem;
        border: 0; }
    .header ul a {
      display: block;
      width: 2.71111rem;
      font-size: 0.8rem;
      color: #fff;
      text-align: center;
      position: absolute;
      bottom: 0;
      padding: 0 0 0.44444rem;
      border-bottom: 3px solid #148174; }
      .header ul a.active {
        border-bottom: 3px solid #26ceba;
        padding: 0 0 0.44444rem; }

.link_blue {
  color: #25ccb8; }

.m-title {
  background: #efeeee;
  height: 1.44444rem; }
  .m-title dd {
    float: right;
    padding: 0.44444rem 0.66667rem 0 0; }
  .m-title dt {
    float: left;
    font-size: 0.62222rem;
    padding: 0.44444rem 0 0 0.66667rem; }
    .m-title dt em {
      color: #3a3a3a;
      display: block;
      line-height: 0.8rem; }
    .m-title dt i {
      font-size: 0.48889rem;
      color: #3a3a3a; }

.content {
  width: 100%;
  position: relative;
  z-index: 1;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0; }
  .content .scroll {
    width: 100%; }
    .content .scroll .wrapper {
      width: 100%; }
    .content .scroll .item {
      width: 100%; }
      .content .scroll .item .title {
        color: #808080;
        font-size: 0.57778rem;
        padding: 0;
        margin: 0 0.55556rem 0 0.66667rem;
        height: 1.02222rem;
        border-bottom: 2px solid #c0c0c0;
        line-height: 1.02222rem; }
      .content .scroll .item .topic {
        width: 100%;
        height: 8.88889rem;
        overflow: hidden;
        position: relative;
        margin: 0 0 0.66667rem; }
        .content .scroll .item .topic .swiper {
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden; }
          .content .scroll .item .topic .swiper .step img {
            width: 100%; }
        .content .scroll .item .topic .point {
          width: 100%;
          height: 0.22222rem;
          position: absolute;
          left: 0;
          bottom: 0.48889rem;
          z-index: 5;
          text-align: center;
          line-height: 0.22222rem; }
          .content .scroll .item .topic .point span {
            display: inline-block;
            width: 0.22222rem;
            height: 0.22222rem;
            border-radius: 50%;
            line-height: 0;
            font-size: 0;
            background: #aaa;
            margin: 0 0.15556rem; }
            .content .scroll .item .topic .point span.on {
              background: #fff; }
        .content .scroll .item .topic a {
          display: block; }
          .content .scroll .item .topic a .pic {
            position: relative;
            width: 100%; }
            .content .scroll .item .topic a .pic::after {
              display: block;
              width: 1.11111rem;
              height: 1.11111rem;
              background: url(../img/icon_play2.png) no-repeat 0.11111rem center rgba(255, 255, 255, 0.8);
              background-size: 100%;
              position: absolute;
              z-index: 2;
              right: 0.22222rem;
              bottom: 0.55556rem;
              content: '';
              border-radius: 50%; }
            .content .scroll .item .topic a .pic img {
              width: 100%;
              display: block; }
            .content .scroll .item .topic a .pic h2 {
              position: absolute;
              color: #fff;
              left: 0rem;
              bottom: 0rem;
              overflow: hidden;
              white-space: nowrap;
              font-size: 0.8rem;
              line-height: 2.77778rem;
              height: 2.55556rem;
              width: 100%;
              text-indent: 0.66667rem;
              background: -webkit-linear-gradient(270deg, transparent 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 100%); }
          .content .scroll .item .topic a .info {
            padding: 0.44444rem 0 0 0.77778rem;
            position: relative; }
            .content .scroll .item .topic a .info i {
              display: block;
              position: absolute;
              width: 1.11111rem;
              height: 1.11111rem;
              background: url(../img/icon_hot.png) no-repeat;
              background-size: cover;
              left: 0.55556rem;
              top: 0.44444rem; }
            .content .scroll .item .topic a .info h2 {
              color: #3a3a3a;
              font-size: 0.88889rem;
              line-height: 0.88889rem; }
              .content .scroll .item .topic a .info h2 span {
                display: inline-block;
                background: url(../img/icon_audio.png) no-repeat;
                background-size: 100% 100%;
                width: 0.66667rem;
                height: 0.88889rem;
                margin: 0 0 0 5px; }
            .content .scroll .item .topic a .info p {
              color: #9c968e;
              font-size: 0.62222rem;
              line-height: 0.8rem;
              padding: 0 0.44444rem 1rem 0; }
      .content .scroll .item .list {
        padding: 0.44444rem 0 0; }
      .content .scroll .item .single a {
        display: block; }
        .content .scroll .item .single a dl {
          width: 100%;
          overflow: hidden;
          margin: 0 0 1rem; }
        .content .scroll .item .single a dt {
          width: 5.77778rem;
          height: 4.22222rem;
          float: left;
          overflow: hidden;
          padding: 0 0 0 0.66667rem;
          position: relative; }
          .content .scroll .item .single a dt i {
            display: block;
            width: 1.11111rem;
            height: 1.11111rem;
            background: url(../img/icon_play2.png) no-repeat 0.11111rem center rgba(255, 255, 255, 0.8);
            background-size: 100%;
            position: absolute;
            z-index: 2;
            right: 0.22222rem;
            bottom: 0.22222rem;
            content: '';
            border-radius: 50%; }
            .content .scroll .item .single a dt i.lock {
              background: url(../img/icon-lock.png) no-repeat center rgba(255, 255, 255, 0.8);
              background-size: 130%; }
          .content .scroll .item .single a dt img {
            width: 100%; }
          .content .scroll .item .single a dt span {
            display: inline-block;
            color: #fff;
            font-size: 0.4rem;
            height: 0.75556rem;
            line-height: 0.75556rem;
            padding: 0 0.22222rem;
            position: absolute;
            left: 0.66667rem;
            top: 0;
            background: rgba(38, 206, 186, 0.7);
            z-index: 2; }
        .content .scroll .item .single a dd {
          width: 8.22222rem;
          float: left;
          padding: 0 0 0 0.66667rem;
          height: 4.22222rem;
          position: relative; }
          .content .scroll .item .single a dd h2 {
            color: #3a3a3a;
            font-size: 0.71111rem;
            height: 1.11111rem;
            overflow: hidden;
            white-space: nowrap;
            width: 100%; }
            .content .scroll .item .single a dd h2 i {
              display: inline-block;
              background: url(../img/icon_audio.png) no-repeat;
              background-size: auto 100%;
              width: 0.66667rem;
              height: 0.88889rem;
              margin: 0 0 0 5px; }
          .content .scroll .item .single a dd p {
            color: #9c968e;
            font-size: 0.53333rem;
            line-height: 0.75556rem;
            padding: 0.22222rem 0 0;
            max-height: 2.22222rem;
            overflow: hidden; }
          .content .scroll .item .single a dd span {
            display: none;
            height: 0.66667rem;
            line-height: 0.66667rem;
            font-size: 0.44444rem;
            color: #c1bfbf;
            padding: 0 0 0 0.44444rem;
            background: url(../img/icon_readcount.png) no-repeat 0 center;
            background-size: auto 66.6%;
            position: absolute;
            right: 0.33333rem;
            bottom: 0; }
  .content .theme-list {
    overflow: hidden;
    padding: 0.66667rem 0 0 0.44444rem; }
    .content .theme-list a {
      display: inline-block;
      width: 7.11111rem;
      height: 5.33333rem;
      overflow: hidden;
      position: relative;
      margin: 0 0.44444rem 0.44444rem 0; }
      .content .theme-list a img {
        height: 100%;
        width: 100%;
        display: block;
        border-radius: 0.22222rem; }
      .content .theme-list a span {
        display: block;
        left: 0rem;
        position: absolute;
        z-index: 2;
        bottom: 0rem;
        color: #fff;
        font-size: 0.71111rem;
        border-radius: 0 0 0.22222rem 0.22222rem;
        text-align: center;
        text-indent: 0.44444rem;
        width: 100%;
        height: 1.55556rem;
        line-height: 1.68889rem;
        background: -webkit-linear-gradient(270deg, transparent 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 100%); }
      .content .theme-list a i {
        display: none;
        background: url(../img/icon_audio.png) no-repeat;
        background-size: auto 100%;
        width: 0.66667rem;
        height: 0.88889rem;
        position: absolute;
        z-index: 2;
        right: 0.44444rem;
        bottom: 0.44444rem; }
      .content .theme-list a em.vip {
        display: block;
        background: url(../img/vip-10.png) no-repeat;
        background-size: auto 100%;
        width: 2rem;
        height: 0.66667rem;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        overflow: hidden;
        border-radius: 0.22222rem 0 0 0; }
  .content .channel {
    overflow: hidden; }
    .content .channel .nav {
      height: 1.77778rem;
      border-bottom: 1px solid #d0cac3;
      position: relative;
      z-index: 5; }
      .content .channel .nav h2 {
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.77778rem;
        color: #148174;
        position: relative;
        z-index: 3; }
        .content .channel .nav h2 span {
          display: inline-block;
          width: 0.66667rem;
          height: 0.66667rem;
          border-right: 3px solid #dbd6d1;
          margin: 0 0 0 0.44444rem;
          border-bottom: 3px solid #dbd6d1;
          -webkit-transform: rotateZ(45deg) translate3d(0, -0.11111rem, 0);
          transform: rotateZ(45deg) translate3d(0, -0.11111rem, 0); }
      .content .channel .nav ul {
        display: block;
        padding: 0.88889rem 0 0 1.11111rem;
        background: #fff;
        border-top: 2px solid #d0cac3;
        position: relative;
        z-index: 3;
        display: none; }
        .content .channel .nav ul li {
          display: inline-block;
          margin: 0 0.66667rem 0.66667rem 0; }
        .content .channel .nav ul a, .content .channel .nav ul span {
          border: 2px solid #25ccb8;
          color: #25ccb8;
          text-align: center;
          border-radius: 10px;
          display: block;
          width: 2.62222rem;
          height: 1.33333rem;
          line-height: 1.33333rem; }
        .content .channel .nav ul span {
          border: 2px solid #d0cac3;
          color: #d0cac3; }
      .content .channel .nav .mask {
        position: relative;
        z-index: 1;
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7); }
      .content .channel .nav.on ul, .content .channel .nav.on .mask {
        display: block; }
    .content .channel .list {
      padding: 0.66667rem 0.66667rem 0; }
      .content .channel .list .item {
        margin: 0 0 0.66667rem;
        position: relative;
        padding: 0 0 0.66667rem;
        border-bottom: 1px solid #ede9e3; }
        .content .channel .list .item .info {
          display: block; }
          .content .channel .list .item .info dl {
            width: 100%;
            overflow: hidden; }
          .content .channel .list .item .info dt {
            width: 4.44444rem;
            height: 4.44444rem;
            position: relative;
            float: left; }
            .content .channel .list .item .info dt img {
              width: 100%;
              height: 100%;
              border-radius: 0.22222rem; }
            .content .channel .list .item .info dt i {
              display: block;
              background: url(../img/icon_audio.png) no-repeat;
              background-size: auto 100%;
              width: 0.88889rem;
              height: 1.11111rem;
              position: absolute;
              z-index: 2;
              right: 0.44444rem;
              bottom: 0.44444rem; }
            .content .channel .list .item .info dt .vip {
              display: block;
              background: url(../img/vip-10.png) no-repeat;
              background-size: auto 100%;
              width: 2rem;
              height: 0.66667rem;
              position: absolute;
              z-index: 2;
              left: 0;
              top: 0;
              overflow: hidden;
              border-radius: 0.22222rem 0 0 0; }
          .content .channel .list .item .info dd {
            width: 8.66667rem;
            float: left;
            padding: 0 0 0 0.66667rem; }
            .content .channel .list .item .info dd h2 {
              color: #3a3a3a;
              font-size: 0.71111rem;
              margin: 0 0 0.33333rem; }
            .content .channel .list .item .info dd p {
              color: #9c968e;
              font-size: 0.57778rem;
              line-height: 1.11111rem;
              max-height: 2.22222rem;
              overflow: hidden; }
            .content .channel .list .item .info dd span {
              color: #d0cac3;
              font-size: 0.57778rem; }
        .content .channel .list .item .subscription {
          position: absolute;
          color: #25ccb8;
          display: block;
          font-size: 0.71111rem;
          border: 1px solid #25ccb8;
          right: 0;
          top: 0;
          border-radius: 0.11111rem;
          padding: 2px; }
  .content .articleInfo .title {
    font-size: 0.71111rem;
    color: #3a3a3a;
    padding: 0.77778rem 0 0 1.22222rem;
    position: relative;
    margin: 0 0 0.33333rem;
    line-height: 1.11111rem; }
    .content .articleInfo .title i {
      display: block;
      width: 0.17778rem;
      height: 0.66667rem;
      background: #148174;
      border-radius: 0.08889rem;
      left: 0.66667rem;
      top: 1rem;
      position: absolute; }
  .content .articleInfo .reads {
    font-size: 0.4rem;
    color: #d0cac3;
    display: block;
    padding: 0 0 0 1rem; }
  .content .articleInfo .article {
    padding: 0.77778rem 0 0;
    margin: 0 0.66667rem; }
    .content .articleInfo .article img {
      display: block;
      margin: 0 auto 0.66667rem; }
    .content .articleInfo .article p {
      font-size: 0.44444rem;
      line-height: 1.11111rem;
      color: #3a3a3a;
      margin: 0.66667rem auto; }
    .content .articleInfo .article strong {
      font-weight: bold;
      font-size: 0.57778rem;
      margin: 0.66667rem auto;
      display: block;
      line-height: 1.11111rem; }
  .content .album_list .pic {
    width: 100%;
    position: relative; }
    .content .album_list .pic img {
      width: 100%;
      display: block; }
    .content .album_list .pic .back {
      width: 1.44444rem;
      height: 1.44444rem;
      border-radius: 50%;
      position: fixed;
      background: url(../img/icon_back.png) no-repeat 45% center rgba(0, 0, 0, 0.7);
      background-size: auto 60%;
      left: 0.66667rem;
      top: 0.44444rem;
      z-index: 30; }
    .content .album_list .pic .title {
      position: absolute;
      color: #fff;
      left: 0rem;
      bottom: 0rem;
      overflow: hidden;
      white-space: nowrap;
      font-size: 0.8rem;
      line-height: 2.77778rem;
      height: 2.55556rem;
      width: 100%;
      text-indent: 0.66667rem;
      background: -webkit-linear-gradient(270deg, transparent 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 100%); }
    .content .album_list .pic .state {
      position: absolute;
      right: 0.66667rem;
      bottom: 0.66667rem;
      font-size: 0.53333rem;
      border: 2px solid #fff;
      color: #fff;
      text-align: center;
      border-radius: 0.22222rem;
      display: inline-block;
      padding: 0 0.11111rem; }
  .content .album_list .desc {
    line-height: 0.8rem;
    color: #9c968e;
    font-size: 0.48889rem;
    position: relative; }
    .content .album_list .desc p {
      width: 11.77778rem;
      padding: 0.33333rem 0 0.33333rem 0.66667rem; }
    .content .album_list .desc a {
      color: #9c968e; }
    .content .album_list .desc span {
      width: 0.37778rem;
      height: 0.75556rem;
      background: url(../img/icon_arrow_right.png) no-repeat;
      background-size: cover;
      position: absolute;
      display: block;
      right: 0.66667rem;
      top: 50%;
      margin-top: -0.37778rem; }
  .content .album_list .list .item {
    border-left: 0.17778rem solid #fff;
    height: 1.77778rem;
    color: #3a3a3a;
    padding: 0.44444rem 0 0;
    border-bottom: 2px solid #efeeee;
    position: relative; }
    .content .album_list .list .item .num {
      display: block;
      font-size: 0.44444rem;
      line-height: 0.71111rem;
      float: left;
      width: 1.55556rem;
      text-align: center; }
    .content .album_list .list .item .name {
      float: left;
      width: 12rem; }
      .content .album_list .list .item .name h1 {
        font-size: 0.62222rem;
        line-height: 0.8rem;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .content .album_list .list .item .name em {
        color: #25ccb8;
        font-size: 0.44444rem;
        padding: 0.11111rem 0 0 0.55556rem;
        display: block;
        line-height: 0.53333rem;
        height: 0.53333rem;
        background: url(../img/icon_mic_18.png) no-repeat left center;
        background-size: auto 80%; }
    .content .album_list .list .item .state, .content .album_list .list .item .lock {
      display: block;
      width: 2.22222rem;
      height: 2.22222rem;
      position: absolute;
      background: url(../img/icon_not_like.png) no-repeat center;
      right: 0;
      top: 0;
      background-size: auto 36%; }
      .content .album_list .list .item .state.on, .content .album_list .list .item .lock.on {
        background: url(../img/icon_like.png) no-repeat center;
        background-size: auto 36%; }
    .content .album_list .list .item .lock {
      background: url(../img/lock@2x.png) no-repeat center;
      background-size: auto 41%; }
    .content .album_list .list .item.on {
      border-left: 0.17778rem solid #25ccb8;
      border-bottom: 2px solid #efeeee; }
  .content .usercenter .user_icon {
    width: 100%;
    height: 6.35556rem;
    background: url(../img/u_bg.png) no-repeat;
    background-size: cover;
    position: relative; }
    .content .usercenter .user_icon .icon {
      width: 2.77778rem;
      height: 2.77778rem;
      overflow: hidden;
      border-radius: 50%;
      border: 4px solid #25ccb8;
      position: absolute;
      left: 50%;
      top: 1.02222rem;
      margin-left: -1.4rem; }
      .content .usercenter .user_icon .icon img {
        width: 100%; }
    .content .usercenter .user_icon .sex {
      width: 0.84444rem;
      height: 0.84444rem;
      position: absolute;
      left: 8.55556rem;
      top: 3.06667rem; }
    .content .usercenter .user_icon .boy {
      background: url(../img/icon_boy_1.png) no-repeat center;
      background-size: cover; }
    .content .usercenter .user_icon .girl {
      background: url(../img/icon_girl_1.png) no-repeat center;
      background-size: cover; }
    .content .usercenter .user_icon a.name {
      border: 2px solid #25ccb8;
      color: #25ccb8;
      width: 2.88889rem;
      display: block;
      left: 50%;
      margin-left: -1.44444rem;
      border-radius: 10px; }
    .content .usercenter .user_icon .name {
      font-size: 0.62222rem;
      color: #fff;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 1rem;
      width: 100%; }
  .content .usercenter .info_list a {
    display: block;
    position: relative;
    width: 100%;
    height: 2.22222rem;
    border-bottom: 2px solid #efeeee;
    background: url(../img/icon_arrow_right.png) no-repeat 95% center;
    background-size: auto 34%; }
    .content .usercenter .info_list a span {
      display: block;
      width: 1.06667rem;
      height: 1.06667rem;
      border-radius: 10px;
      position: absolute;
      top: 0.55556rem;
      left: 0.66667rem; }
      .content .usercenter .info_list a span.u_info {
        background: url(../img/icon_u_info.png) no-repeat #25ccb8;
        background-size: cover; }
      .content .usercenter .info_list a span.u_msg {
        background: url(../img/icon_u_msg.png) no-repeat #25ccb8;
        background-size: cover; }
      .content .usercenter .info_list a span.u_list {
        background: url(../img/icon_u_list.png) no-repeat #25ccb8;
        background-size: cover; }
      .content .usercenter .info_list a span.u_history {
        background: url(../img/icon_u_history.png) no-repeat #25ccb8;
        background-size: cover; }
      .content .usercenter .info_list a span.u_collection {
        background: url(../img/icon_u_collection.png) no-repeat #25ccb8;
        background-size: cover; }
    .content .usercenter .info_list a div {
      font-size: 0.62222rem;
      color: #3a3a3a;
      position: absolute;
      left: 2.22222rem;
      top: 0.62222rem; }
      .content .usercenter .info_list a div span {
        display: block;
        width: 0.26667rem;
        height: 0.26667rem;
        border-radius: 50%;
        background: #25ccb8;
        position: absolute;
        left: 2.55556rem;
        top: -0.04444rem; }
      .content .usercenter .info_list a div i {
        color: #25ccb8;
        font-size: 0.44444rem; }
  .content .usercenter .user_info li {
    display: block;
    position: relative;
    width: 100%;
    height: 2.22222rem;
    border-bottom: 2px solid #efeeee;
    font-size: 0.62222rem;
    background: url(../img/icon_arrow_right.png) no-repeat 95% center;
    background-size: auto 34%; }
    .content .usercenter .user_info li span {
      display: block;
      width: 4rem;
      height: 1.06667rem;
      border-radius: 10px;
      position: absolute;
      top: 0.66667rem;
      left: 0.66667rem;
      color: #cec5b8; }
    .content .usercenter .user_info li div {
      color: #3a3a3a;
      position: absolute;
      left: 0;
      top: 0.62222rem;
      width: 100%;
      text-align: center; }
    .content .usercenter .user_info li em {
      display: block;
      width: 1.33333rem;
      height: 1.33333rem;
      margin: 0 auto; }
      .content .usercenter .user_info li em.boy {
        background: url(../img/icon_boy_1.png) no-repeat;
        background-size: cover; }
      .content .usercenter .user_info li em.girl {
        background: url(../img/icon_girl_1.png) no-repeat;
        background-size: cover; }
  .content .usercenter .comments {
    width: 100%;
    background: #fff; }
    .content .usercenter .comments .item {
      width: 100%;
      overflow: hidden;
      border-bottom: 2px solid #efeeee;
      position: relative; }
      .content .usercenter .comments .item .c_icon {
        width: 2.22222rem;
        height: 2.22222rem;
        overflow: hidden;
        border-radius: 50%;
        float: left;
        margin: 0.44444rem 0 0 1.11111rem; }
        .content .usercenter .comments .item .c_icon img {
          width: 100%; }
      .content .usercenter .comments .item .news {
        display: block;
        width: 0.26667rem;
        height: 0.26667rem;
        border-radius: 50%;
        background: #25ccb8;
        position: absolute;
        left: 3.11111rem;
        top: 0.44444rem; }
      .content .usercenter .comments .item .info {
        width: 11.55556rem;
        float: left;
        padding: 0 0 0 0.44444rem;
        overflow: hidden; }
        .content .usercenter .comments .item .info span {
          font-size: 0.44444rem;
          float: right;
          color: #9c968e;
          margin: 0.88889rem 0 0; }
        .content .usercenter .comments .item .info h1 {
          font-size: 0.71111rem;
          color: #25ccb8;
          line-height: 1.02222rem;
          margin: 0.66667rem 2.66667rem 0 0; }
        .content .usercenter .comments .item .info p {
          color: #3a3a3a;
          font-size: 0.48889rem;
          line-height: 0.8rem;
          margin: 0 0 0.44444rem; }
  .content .usercenter .nav {
    height: 2.22222rem;
    border-bottom: 2px solid #efeeee;
    line-height: 2.22222rem;
    padding: 0 0 0 1.88889rem;
    font-size: 0.62222rem;
    color: #3a3a3a; }
    .content .usercenter .nav.u-list {
      background: url(../img/icon_u_list2.png) no-repeat 0.88889rem center;
      background-size: auto 32%; }
    .content .usercenter .nav.u-history {
      background: url(../img/icon_u_history2.png) no-repeat 0.88889rem center;
      background-size: auto 32%; }
  .content .usercenter .lists .item {
    height: 4.66667rem;
    border-bottom: 2px solid #efeeee;
    position: relative;
    transition: all 0.3s ease-in-out; }
    .content .usercenter .lists .item.on {
      transform: translate3d(-4.66667rem, 0, 0); }
    .content .usercenter .lists .item dl {
      width: 100%;
      height: 100%; }
    .content .usercenter .lists .item dt {
      width: 3.33333rem;
      margin: 0.66667rem 0 0 0.66667rem;
      height: 3.33333rem;
      overflow: hidden;
      border-radius: 10px;
      float: left; }
      .content .usercenter .lists .item dt img {
        width: 100%;
        height: 100%; }
    .content .usercenter .lists .item dd {
      width: 11.11111rem;
      padding: 1.22222rem 0 0 0.88889rem;
      float: left; }
    .content .usercenter .lists .item h2 {
      font-size: 0.8rem;
      color: #3a3a3a;
      line-height: 1.11111rem; }
    .content .usercenter .lists .item p {
      font-size: 0.62222rem;
      color: #9c968e;
      line-height: 0.88889rem; }
    .content .usercenter .lists .item .desubscription {
      width: 4.66667rem;
      height: 4.66667rem;
      background: #25ccb8;
      font-size: 0.62222rem;
      text-align: center;
      line-height: 4.66667rem;
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
      transform: translate3d(4.66667rem, 0, 0); }
  .content .usercenter .history_list .item {
    height: 2.22222rem;
    border-bottom: 2px solid #efeeee;
    position: relative;
    padding: 0 0 0 0.66667rem; }
    .content .usercenter .history_list .item h2 {
      font-size: 0.62222rem;
      color: #3a3a3a;
      margin: 0.44444rem 0 0; }
    .content .usercenter .history_list .item span {
      font-size: 0.44444rem;
      color: #9c968e; }
    .content .usercenter .history_list .item .goon, .content .usercenter .history_list .item .restart {
      color: #25ccb8;
      font-size: 0.48889rem;
      position: absolute;
      top: 0.66667rem; }
    .content .usercenter .history_list .item .goon {
      right: 3.33333rem; }
    .content .usercenter .history_list .item .restart {
      right: 0.66667rem; }
  .content .login {
    padding: 2.66667rem 0 0 1.33333rem; }
    .content .login .errmsg {
      font-size: 0.53333rem;
      padding: 0.44444rem 0 0;
      width: 60%;
      color: #333; }
    .content .login .item {
      padding: 0 0 0.88889rem; }
      .content .login .item input {
        height: 1.46667rem;
        border: 2px solid #bbb;
        font-size: 0.62222rem;
        padding: 0 0 0 0.4rem;
        color: #000;
        border-radius: 10px;
        float: left;
        background: -webkit-linear-gradient(270deg, #e4e4e4 0%, #f6f6f6 50%, #f6f6f6 100%); }
        .content .login .item input::-webkit-input-placehodler {
          color: #cec5b8; }
      .content .login .item select {
        font-size: 0.62222rem;
        height: 1.46667rem;
        line-height: 1.46667rem;
        padding: 0.22222rem; }
      .content .login .item span {
        display: inline-block;
        width: 4.26667rem;
        height: 1.55556rem;
        background: #25ccb8;
        color: #fff;
        font-size: 0.62222rem;
        margin-left: 0.44444rem;
        line-height: 1.55556rem;
        text-align: center;
        border-radius: 10px; }
      .content .login .item div {
        font-size: 0.66667rem;
        color: #148174;
        margin: 0 0 0.33333rem; }
        .content .login .item div.icon {
          width: 2.77778rem;
          height: 2.77778rem;
          overflow: hidden;
          border-radius: 50%;
          border: 4px solid #bebebe; }
          .content .login .item div.icon img {
            width: 100%; }
        .content .login .item div.setIcon {
          border: 2px solid #25ccb8;
          color: #25ccb8;
          font-size: 0.57778rem;
          margin: 0.33333rem 0 0 0.17778rem;
          display: inline-block;
          border-radius: 10px;
          padding: 0.04444rem 0.11111rem; }
          .content .login .item div.setIcon em {
            padding: 0.04444rem 0.11111rem;
            line-height: 0.88889rem;
            display: block;
            height: 0.88889rem;
            margin: 0; }
      .content .login .item em {
        display: inline-block;
        height: 1.46667rem;
        padding: 0 0 0 1.77778rem;
        font-size: 0.71111rem;
        color: #3a3a3a;
        margin: 0 0.88889rem 0 0; }
        .content .login .item em.boy {
          background: url(../img/icon_boy.png) no-repeat left center;
          background-size: auto 100%; }
          .content .login .item em.boy.on {
            background: url(../img/icon_boy_1.png) no-repeat left center;
            background-size: auto 100%; }
        .content .login .item em.girl {
          background: url(../img/icon_girl.png) no-repeat left center;
          background-size: auto 100%; }
          .content .login .item em.girl.on {
            background: url(../img/icon_girl_1.png) no-repeat left center;
            background-size: auto 100%; }
      .content .login .item p {
        color: #f00;
        width: 100%;
        overflow: hidden; }
    .content .login .btn {
      width: 4.22222rem;
      height: 1.35556rem;
      background: #148174;
      color: #fff;
      text-align: center;
      line-height: 1.35556rem;
      margin: 0.66667rem 0 0;
      border-radius: 10px; }
    .content .login .link-login {
      color: #25ccb8;
      font-size: 0.66667rem; }
  .content .searchBox .search {
    padding: 1.11111rem 0 0.66667rem 0.66667rem;
    overflow: hidden; }
    .content .searchBox .search input {
      height: 1.33333rem;
      float: left;
      width: 10.66667rem;
      height: 1.24444rem;
      border: 2px solid #bbb;
      padding: 0 0 0 0.44444rem; }
    .content .searchBox .search span {
      width: 2.88889rem;
      background: #148174;
      color: #fff;
      font-size: 0.62222rem;
      text-align: center;
      height: 1.33333rem;
      display: inline-block;
      line-height: 1.33333rem;
      margin-left: 0.44444rem; }
  .content .searchBox .hot h1 {
    font-size: 0.66667rem;
    color: #148174;
    padding: 0.77778rem 0 0 1.22222rem;
    position: relative;
    margin: 0 0 0.33333rem;
    line-height: 1.11111rem; }
    .content .searchBox .hot h1 span {
      display: block;
      width: 0.17778rem;
      height: 0.66667rem;
      background: #148174;
      border-radius: 0.08889rem;
      left: 0.66667rem;
      top: 1rem;
      position: absolute; }
  .content .searchBox .hot div {
    overflow: hidden;
    padding: 0.33333rem 0 0 1.11111rem; }
    .content .searchBox .hot div a {
      display: inline-block;
      font-size: 0.62222rem;
      line-height: 1.33333rem;
      color: #25ccb8;
      padding: 0 0.66667rem;
      border: 2px solid #25ccb8;
      border-radius: 10px;
      height: 1.33333rem;
      margin: 0 0.66667rem 0.66667rem 0; }
  .content .searchBox .result .f404 {
    text-align: center;
    padding: 3.33333rem 0 0;
    font-size: 0.71111rem;
    color: #9c968e;
    line-height: 0.88889rem; }
    .content .searchBox .result .f404 span {
      display: block;
      width: 4rem;
      overflow: hidden;
      height: 4rem;
      border-radius: 50%;
      border: 4px solid #cdcac5;
      background: url(../img/icon_404.png) no-repeat center;
      background-size: cover;
      margin: 0 auto 0.44444rem; }
  .content .searchBox .result .item {
    height: 4.66667rem;
    border-bottom: 2px solid #efeeee;
    position: relative;
    transition: all 0.3s ease-in-out; }
    .content .searchBox .result .item dl {
      width: 100%;
      height: 100%; }
    .content .searchBox .result .item dt {
      width: 3.33333rem;
      margin: 0.66667rem 0 0 0.66667rem;
      height: 3.33333rem;
      overflow: hidden;
      border-radius: 10px;
      float: left; }
      .content .searchBox .result .item dt img {
        width: 100%;
        height: 100%; }
    .content .searchBox .result .item dd {
      width: 10.66667rem;
      padding: 1.22222rem 0 0 0.88889rem;
      float: left; }
    .content .searchBox .result .item h2 {
      font-size: 0.8rem;
      color: #3a3a3a;
      line-height: 1.11111rem; }
      .content .searchBox .result .item h2 a {
        color: #3a3a3a; }
    .content .searchBox .result .item p {
      font-size: 0.62222rem;
      color: #9c968e;
      line-height: 0.88889rem; }
  .content .systemMsg .item {
    color: #232323;
    padding: 0.44444rem 1.11111rem 0.66667rem;
    zoom: 1;
    overflow: hidden;
    font-size: 0.62222rem;
    border-bottom: 2px solid #f0f0f0; }
    .content .systemMsg .item .title {
      width: 100%;
      overflow: hidden;
      padding: 0 0 0.44444rem; }
      .content .systemMsg .item .title .time {
        float: right; }
      .content .systemMsg .item .title .icon {
        height: 1.33333rem;
        line-height: 1.33333rem; }
        .content .systemMsg .item .title .icon img {
          width: 1.33333rem;
          height: 1.33333rem;
          border-radius: 50%;
          margin: 0 0.33333rem 0 0;
          float: left; }
    .content .systemMsg .item .con p {
      line-height: 0.93333rem;
      color: #484848; }

/**
 * Swiper 3.1.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2015, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: August 22, 2015
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px; }

/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

/* Cube */
.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 1; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }
